body{
    background-color: rgba(242, 236, 243, 0.8);
    
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.register{
    margin: 60px;
    width: 60%;
    background-color: rgba(140,77,148,.8);
    border: 3px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(78, 39, 83, 0.8);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    
}

h3{
    color: rgba(242, 236, 243, 0.8);
    font-size: 25px;
}
label{
    color: rgba(242, 236, 243, 0.8);
    font-size: 20px;
}

input, textarea, select{
    margin-bottom: 20px;
    padding: 10px;
    border: 3px solid rgba(140,77,148,.8);
    border-radius: 6px;
    color: rgba(78, 39, 83, 0.8);
    width: 35vmin ;
    height: 3vmin;
    font-weight: bold;
    background-color: rgba(250, 249, 250, 0.8);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  }
  .type{
      height: 50px;
  }
  
  input::placeholder, textarea::placeholder{
    color: rgba(78, 39, 83, 0.8);
    font-weight: normal;
    
  }
  
  input:focus{
    border: 3px solid rgba(78, 39, 83, 0.8) ;
    box-shadow: 0 0 3px rgba(78, 39, 83, 0.8) ;
    -moz-box-shadow: 0 0 3px rgba(140,77,148,.8) ;
    -webkit-box-shadow: 0 0 3px rgba(140,77,148,.8) ;
    }
  
  input:focus {
    outline-offset: 0px ;
    outline: none ;
    }
  
  button{
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: rgba(78, 39, 83, 0.8);
    border: 3px solid rgba(140,77,148,.8);
    color: rgba(250, 249, 250, 0.8);
    font-weight: bold;
    width: 80px;
    align-self: center;
    
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .ico{
      padding: 20px;
      margin: 3px;
      background-color: rgba(140,77,148,.0);
      border: none;
  }

  .adress{
      display: flex;
     
      justify-content: center;
      align-items: center;
  }
 
 #box {
      width:50px;
  }
  #num {
      width: 75px;
  }

  input.cp{
      width:100px;
  }
  .typeUser{
      padding-top:10px;
      padding-bottom: 20px;
  }
.icone{
    width: 30px;
    height:30px;
    align-self: center;
    
}
button:hover {
    cursor: pointer;

}

.members{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    size: 50px;
}

.member{
    width:200px;
}
.add{
    width: 20px;
    height:30%;
    align-self: center;
   
        
}

.addingBut{
    padding: 0;
     margin-left:10px;
      background-color: rgba(140,77,148,.0);
      border: none;
      
}