
<<<<<<< HEAD
.App{
    text-align: center;
=======

.App{
    text-align: center;
    width: 100%;
>>>>>>> 6828ab4872b238ff24af968aa16b9bc14381a2c9
}

body{
    padding: 0;
    margin: 0;
    
<<<<<<< HEAD
=======
}

.class-test{

    background-color: black;
>>>>>>> 6828ab4872b238ff24af968aa16b9bc14381a2c9
}