.containerHome{
    display:flex;
    flex-direction: row;
}

.flexCote{
    flex-grow: 1;
}

.flexMiddle{
    flex-grow: 3;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexMiddle .postHome{
    
    margin:20px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(93, 47, 99, 0.8);
    border-radius: 10px 70px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*min-height:200px;*/
    width:80%;
   /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/

    /* margin:50px auto; */

}
.postImage{
    /*flex: 40%;*/
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.userAvatar{
    width: 100px;
   /* height: 100px;*/
    border: 2px solid rgba(93, 47, 99, 0.8);
}

.postInfos{
    margin: 0 0 0 20px;
}

.postName{
    font-size: 100%;
    color:rgba(140,77,148,.8);
    font-weight: bold;
    
    justify-content: flex-start;
}
.postDate{
    flex:40%;
}
.MoreInfos{
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 20px 0 0 0;
}
.flexMiddle .postHome{
    flex: 60%;
    padding: 10px;
    padding: 5px;
    border-radius: 10px 70px;

}


.flexMiddle .postHome .postContent{
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    min-height:100px;

}

.flexMiddle .postHome .postContent .postTitle{
    font-weight: bold;
    font-size: 125%;
    margin: 0 0 10px 0;
    /*flex: 20%;*/
    /*color: rgba(140, 77, 148, 0.8);*/
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexMiddle .postHome .postContent .description{
    /*flex: 80%;*/
    background-color: rgb(223, 163, 238, 0.2);
    min-height:50px;
    padding: 20px;
/* ICI */
   /* background-color: rgba(140, 77, 148, 0.8);
    color:rgba(242, 236, 243, 0.8) ;
    text-align: center;*/
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px 10px 10px 60px;
}

.postUser{
    /* flex: 20%;*/
     padding: 10px;
     display: flex;
     flex-direction: column;
     order:1;
 }

.postImageblock{
    padding: 10px;
    padding: 5px;
    border-radius: 10px 70px 10px 10px;
    order:2;
}

.postBanner{
    width: 100%;
    max-height: 300px;
    border-radius:10px 50px 10px 10px;
}

/* .PostAvatar{
    margin: 20px 0 15px 15px;
    display:flex;
    flex-direction: column;
} */

.postLike{
    padding:10px;
    height:20px;
    width: 20px;
}
.readmoreBlock{
    margin:0;
}

.ReadMore{
    text-align:right;
    font-weight: bold;
    cursor:pointer;
}

.SocialInteractionImg{
    width:25px;
}

.CommentButton{/*
    display: inline-block;
    margin: 10px 0px 0 0;
    padding: 0 10px 0 0;
    cursor:pointer;*/
    margin-block-end: 0;
    margin-block-start: 0;
}

.CommentBlock{
    margin: 10px 0 10px 0;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
}

.CommentSectionAvatar{
    width:50px;
    border: 1px solid rgba(93, 47, 99, 0.8);
}

.CommentSectionText{
    vertical-align: top;
    margin: 0 10px 0 10px;
    padding: 5px;
    margin-block-end: 0;
    margin-block-start: 0;
    /*background-color: rgba(242, 236, 243, 0.8);*/
    background-color: white;
    /*border:1px solid rgba(93, 47, 99, 0.5);*/
    border-radius: 10px;
}

.CommentUpSection{
    display:flex;
    flex-direction: row;
    margin:10px 0 0 0;
}


.CommentDisplay{
    overflow-y:scroll;
    max-height:183px;
}

.SocialInteraction{
    flex-basis: 0;
    flex-grow: 1;
    text-align:center;
    cursor:pointer;
   /* border: 1px solid white;*/
}

.SocialInteraction:hover{
    background-color: rgb(223, 163, 238, 0.3);
}

.SocialMiddle{
    border-right: 1px solid black ;
    border-left: 1px solid black ;
}

.addCommentBlock{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;

}

.addComment{
    width: 60%;
    margin: 10px 10px 10px 50px;
    display:inline-block;
    transition: border-radius 0.5s   linear ;
}

.addComment:focus{
    border-radius: 0;
	transition: border-radius 0.5s   linear ;
}

.addCommentButton{
    cursor:pointer;
    display:inline-block;
    position:relative;
    overflow: hidden;
    padding:10px 5px 0px;
    margin:15px 0 0 0;
    background-color: rgba(140,77,148,.8);
    border: none;
    color: rgba(250, 249, 250, 0.8);
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 60px;
    height:3vmin;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.addCommentButton span{
    position:relative;
    z-index: 2;
  }
  
  .addCommentButton:after {
    position:absolute;
    content: '';
    top:0;
    left:0;
    width:0;
    height:100%;
    background-color: rgba(78, 39, 83, 1);
    border-radius: 20px;
    transition: all 0.35s;
  }
  
  .addCommentButton:hover{
    z-index: 1000;
  }
  
  .addCommentButton:hover:after{
    width:100%;
  }

.CommentDateBottom, .CommentDateTop{
    font-size: 12px;
    text-align: center;
    margin:-5px 0 -5px 0;
    font-weight: bold;
}


@media screen and (max-width: 900px){
    .postImage{
        flex-direction: column;
    }

    .postImageblock{
        order:1;
    }

    .postUser{
        order:2;
        flex-direction: row;
    }

    .userAvatar{
        width:70px;
    }

    .MoreInfos{
        margin: 10px 0 0 0;
    }
}


/* ----------------------- right block home ---------------------- */

.rightBlock{
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 163, 238, 0.2);
    border-radius: 20px;
    min-height: 500px;
    margin: 20px 20px 0 0;
    padding: 20px 10px 20px 10px;
    max-width: 300px;
    /*min-height: 500px;*/
    /*min-width: 500px;*/
}

.rightTitle{
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

.favoriteBlock{
    display: flex;
    flex-direction: row;
}

.starYellow{ /* onclick enlever le favori de la liste */
    width:25px;
    cursor:pointer;
}

.favoriteText{
    padding:0 10px 0 10px;
}