.navbar{
    width: 100%;
    height: 100px;
    background-color: #8c4d94;
    box-shadow: 2px 2px 5px rgba(78, 39, 83, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    
}

.iconLink{
    padding-right: 40px;
    padding-left: 30px;
    
}

.IconNavMario{
    background-color: white;
    border-radius: 15px;

}

.discordLogo{
    padding-top: 20px;
    padding-left: 40px;
    height:50px;
    width:100px;
}
.discordLogo:hover{
    fill: rgba(250, 249, 250, 0.8)
}
.iconeFb{
    padding-top: 30px;
    padding-left: 10px;
    height:30px;
    width: 30px;
    fill: white;
}
.iconeFb:hover{
    fill: rgba(250, 249, 250, 0.8)
}
.iconeTwitter{
    padding-top: 30px;
    padding-left: 10px;
    height:30px;
    width: 30px;
    fill: white;
}
.iconeTwitter:hover{
    fill: rgba(250, 249, 250, 0.8)
}
.iconeTwitch{
    padding-top: 30px;
    padding-left: 20px;
    height:30px;
    width: 30px;
    fill: white;
}
.iconeTwitch:hover{
    fill: rgba(250, 249, 250, 0.8)
}

.iconeYoutube{
    padding-top: 30px;
    padding-left: 20px;
    height:30px;
    width: 50px;
    fill: white;
}
.iconeYoutube:hover{
    fill: rgba(250, 249, 250, 0.8)
}

.iconeVimeo{
    padding-top: 30px;
    padding-left: 20px;
    height:30px;
    width: 50px;
    fill: white;
}
.iconeVimeo:hover{
    fill: rgba(250, 249, 250, 0.8)
}

.iconeReddit{
    padding-top: 30px;
    padding-left: 5px;
    height:30px;
    width: 50px;
    fill: white;
}
.iconeReddit:hover{
    fill: rgba(250, 249, 250, 0.8)
}

.iconeSteam{
    padding-top: 30px;
    padding-left: 5px;
    height:30px;
    width: 50px;
    fill: white;
}
.iconeSteam:hover{
    fill: rgba(250, 249, 250, 0.8)
}

.iconeHome{
    padding-top: 10px;
    padding-left: 20px;
    height:30px;
    width: 30px;
    fill: white;
}

.navbar .iconLink{
    display: block;
}
.iconeHome:focus{
    height: 75px;
}
.iconeHome:hover{
    fill: rgba(250, 249, 250, 0.8)
}

.navbar a:hover {
    cursor: pointer;
    
}
.IconNav, .IconNavMario{
    height:50px;
    width: 50px;
    margin-right: 50px;
    
}

/* .navbar .IconNav:hover{
    height:50px;
} */

.logoNav{
    
    padding-left: 50px;
    display: flex;
    justify-content: flex-start;
    
    
}
.logoSign{
    
    
    padding-top: 15px;
    height: 70px;
    width: 10vmin;
}

.discord{
    
    padding-top: 25px;
    height:50px;
}

.icons{
    display: flex;
    justify-content: flex-start;
}

.navbar.logoIcon{
    padding:20px;
    margin-top:20px;
    height:70px;
   
}

/* .navbar .logoIcon:hover{
    padding: 5px;
} */


@media screen and (max-width: 461px) {
    
    .navbar{
        width: 100%;
        height: 100px;
        background-color: rgba(140,77,148,.8);
        box-shadow: 2px 2px 5px rgba(78, 39, 83, 0.8);
        display: flex;
        justify-content: space-around;
        align-items: center;
        
    }
}


